.footer-wrapper {
    font-family: 'Open Sans', sans-serif;
    background: var(--color-white);
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    padding: 24px 0 47px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {

}

.footer-contacts {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.footer-contacts__email {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer-contacts__email-icon {

}

.footer-contacts__email-link {

}

.footer-contacts__email-link-item {
    font-size: 20px;
    line-height: 27px;
    color: var(--color-black);
}

.footer-contacts__phone {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer-contacts__phone-icon {

}

.footer-contacts__phone-link-item {
    font-size: 20px;
    line-height: 27px;
    color: var(--color-black);
}

.footer-contacts__item.inactive {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
    font-family: Inter, sans-serif;
}

.footer-social-links {

}

.footer-social-links__item {

}

.footer-logo-and-social-links-mobile {
    display: none;
}
.footer-contacts-mobile {
    display: none;
}

@media (max-width: 1200px) {

    .footer {
        display: flex;
        align-items: center;
    }

    .footer-logo {
        display: none;
    }

    .footer-contacts {
        display: none;
    }

    .footer-social-links {
        display: none;
    }

    .footer-logo-and-social-links-mobile {
        display: flex;
        flex-direction: column;
        margin:0 10px;
    }

    .footer-social-links__item-mobile {

    }

    .footer-contacts-mobile {
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 0;
    }

    .footer-contacts__email-mobile {
        display: flex;
        column-gap: 5px;
    }

    .footer-contacts__email-icon-address-name__text-mobile {
        font-size: 14px;
        line-height: 19px;
        color: var(--color-black);
        font-family: "Open Sans", sans-serif;
    }

    .footer-contacts__phone-mobile {
        display: flex;
        column-gap: 5px;
    }

    .footer-contacts__phone-link-item-mobile {
        font-size: 14px;
        line-height: 19px;
        color: var(--color-black);
    }

    .footer-contacts__item.inactive-mobile {
        color: var(--color-black);
        border-bottom: 1px solid var(--color-black);
        font-family: Inter, sans-serif;
    }
}
