@import url(navbar.css);
@import url(footer.css);
@import url(colors.css);
@import url(fonts.css);
@import url(reset.css);

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1144px;
    margin: 0 auto;
    overflow-x: hidden;
}

.content-wrapper {
    flex: 1 1 auto;
    margin-bottom: 60px;
}

h1 {
    color: var(--color-pink);
}

.opportunities-mobile {
    display: none;
}

@media (max-width: 1200px) {

    .container {
        max-width: 375px;
    }

}