.navbar-wrapper {
    margin-top: 70px;
}

.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
}

.navbar-section-top {

}

.navbar-section-top-image {

}

.navbar-section-top-image__logo {

}

.navbar-section-bottom {
    margin-bottom: 68px;
}

.navbar-section-bottom-links {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-family: Inter, sans-serif;
}

.navbar-section-bottom-links__item {

}

.navbar-section-bottom-links__item.inactive {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
    font-family: Inter, sans-serif;
}

@media (max-width: 1200px) {

    .navbar {
        row-gap: 42px;
    }

    .navbar-section-bottom {
        margin-bottom: 42px;
    }

}
