.chicago {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.chicago-section-left {

}

.chicago-section-left-image {

}

.chicago-section-left-image__photo {

}

.chicago-section-right {
    display: flex;
    flex-direction: column;
    row-gap: 83px;
}

.chicago-section-right-top {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.chicago-section-right-top__text {
    width: 557px;
}

.chicago-section-right-top__text-paragraph {
    font-size: 32px;
    line-height: 44px;
    color: var(--color-gray);
}

.chicago-section-right-top__choose {
    width: 375px;
    display: flex;
}

.chicago-section-right-top__choose-link {

}

.chicago-section-right-top__choose-paragraph {
    font-size: 22px;
    line-height: 30px;
    color: var(--color-midgray);
}

.chicago-section-right-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.chicago-section-right-bottom__promocode-field {

}

.chicago-section-right-bottom__text {
    font-size: 22px;
    line-height: 30px;
    color: var(--color-black);
}

.chicago-section-right-bottom__promocode {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-black);
}

.chicago-section-right-bottom__promocode-link {
    border: 2px solid var(--color-black);
    padding: 22px 7px;
    max-width: 340px;
}

.chicago-section-right-bottom__promocode-link-button {
    display: flex;
    justify-content: center;
    color: var(--color-gray);
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}

@media (max-width: 1200px) {

    .chicago {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chicago-section-left-image {
        margin-bottom: 34px;
    }

    .chicago-section-left-image__photo {
        width: 334px;
        height: 450px;
    }

    .chicago-section-right {
        align-items: center;
        text-align: center;
        row-gap: 22px;
    }

    .chicago-section-right-top {
        align-items: center;
        row-gap: 19px;
    }

    .chicago-section-right-top__choose {
        width: 340px;
    }

    .chicago-section-right-bottom__promocode-field {
        margin-bottom: 38px;
    }

}