.opportunities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opportunities-exchange {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.opportunities-delivery {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.opportunities-payment {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.opportunities-warranty {
    display: flex;
    column-gap: 6px;
    max-width: 275px;
    align-items: center;
}

.opportunities-paragraph {
    font-size: 14px;
    line-height: 19px;
    color: var(--color-midgray);
}

@media (max-width: 1200px) {

    .opportunities {
        display: none;
    }

    .opportunities-mobile {
        display: flex;
        flex-direction: column;
    }

    .opportunities-exchange-mobile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 20px;
        column-gap: 5px;
    }

    .opportunities-paragraph-mobile {

    }

    .opportunities-delivery-mobile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 30px;
        column-gap: 10px;
    }

    .opportunities-paragraph-mobile {

    }

    .opportunities-payment-mobile {
        display: flex;
        align-items: center;
        margin: 0 0 0 20px;
        column-gap: 5px;
    }

    .opportunities-paragraph-mobile {

    }

    .opportunities-warranty-mobile {
        display: flex;
        align-items: center;
        margin: 0 0 38px 20px;
        column-gap: 5px;
    }

    .opportunities-paragraph-mobile {

    }

    .melina-link__out-of-block-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .melina-link__out-of-block-button-mobile {
        border: 2px solid var(--color-black);
        padding: 22px 100px;
        color: var(--color-gray);
        font-size: 26px;
        line-height: 35px;
    }

}
