.sale-wrapper {

}

.sale-aside-block {

}

.sale-aside-block-left {
    position: absolute;
    top: 108px;
    left: 0;
    z-index: -1;
}

.sale-aside-block-right {
    position: absolute;
    top: 108px;
    right: 0;
    z-index: -1;
}


.sale {
    background: var(--color-white);
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 0;
    row-gap: 25px;
    margin-bottom: 168px;
}

.sale-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}

.sale-paragraph {
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: var(--color-lightgray);
    text-align: center;
}

.sale-link {
    border: 2px solid var(--color-black);
    padding: 22px 110px;
    color: var(--color-gray);
    font-size: 26px;
    line-height: 35px;
}

.sale-heading__out-of-block {
    font-size: 46px;
    line-height: 63px;
    text-transform: uppercase;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

@media (max-width: 1200px) {

    .sale-aside-block {
        display: none;
    }

    .sale {
        padding: 48px 0;
        row-gap: 25px;
        margin-bottom: 82px;
    }

    .sale-heading {
        font-size: 30px;
        line-height: 41px;
    }

    .sale-paragraph {
        font-size: 16px;
        line-height: 22px;
    }

    .sale-link {
        padding: 22px 76px;
        font-size: 22px;
        line-height: 30px;
    }

    .sale-heading__out-of-block {
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        margin-bottom: 68px;
    }
}